.content.content-main
	#card
		.card-inner.fade
			header
				img(src=`${main.avatar.link}` width=`${main.avatar.width}` height=`${main.avatar.height}` alt="avatar")
				h1(data-translate="name") #{main.name}
				h2#signature(data-translate="signature") #{main.signature}

			- const { first , second , third, fourth } = main.ul
			ul
				li
					a(href=`${first.href}` aria-label=`${first.text}`)
						svg.icon(viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24")
							path(d="M869.5296 245.0432h-277.7088A152.7296 152.7296 0 0 0 440.832 113.0496H144.0768A41.6768 41.6768 0 0 0 102.4 154.7264v704.1536c0 28.7744 23.3472 52.0704 52.0704 52.0704h715.008c28.7744 0 52.0704-23.3472 52.0704-52.0704V297.1136a52.0192 52.0192 0 0 0-52.0192-52.0704zM154.4704 165.1712H440.832c48.4352 0 88.9856 34.304 98.7136 79.872H154.4704v-79.872z m715.0592 693.6576H154.4704V297.7792H593.92v-0.6656h275.6096v561.7152z" fill="currentColor")
						span(data-translate=`${first.text}`) #{first.text}

				li
					a(href=`${second.href}` aria-label=`${second.text}`)
						i(class=`icon icon-${second.icon}`)
						span(data-translate=`${second.text}`) #{second.text}

				li
					a(href=`${third.href}` aria-label=`${third.text}` target="_blank")
						i(class=`icon icon-${third.icon}`)
						span(data-translate=`${third.text}`) #{third.text}

				li
					a(href=`${fourth.href}` aria-label=`${fourth.text}` target="_blank")
						svg.icon(viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24")
							path(d="M854.6 370.6c-9.9-39.4 9.9-102.2 73.4-124.4l-67.9-3.6s-25.7-90-143.6-98c-117.8-8.1-194.9-3-195-3 0.1 0 87.4 55.6 52.4 154.7-25.6 52.5-65.8 95.6-108.8 144.7-1.3 1.3-2.5 2.6-3.5 3.7C319.4 605 96 860 96 860c245.9 64.4 410.7-6.3 508.2-91.1 20.5-0.2 35.9-0.3 46.3-0.3 135.8 0 250.6-117.6 245.9-248.4-3.2-89.9-31.9-110.2-41.8-149.6z m-204.1 334c-10.6 0-26.2 0.1-46.8 0.3l-23.6 0.2-17.8 15.5c-47.1 41-104.4 71.5-171.4 87.6-52.5 12.6-110 16.2-172.7 9.6 18-20.5 36.5-41.6 55.4-63.1 92-104.6 173.8-197.5 236.9-268.5l1.4-1.4 1.3-1.5c4.1-4.6 20.6-23.3 24.7-28.1 9.7-11.1 17.3-19.9 24.5-28.6 30.7-36.7 52.2-67.8 69-102.2l1.6-3.3 1.2-3.4c13.7-38.8 15.4-76.9 6.2-112.8 22.5 0.7 46.5 1.9 71.7 3.6 33.3 2.3 55.5 12.9 71.1 29.2 5.8 6 10.2 12.5 13.4 18.7 1 2 1.7 3.6 2.3 5l5 17.7c-15.7 34.5-19.9 73.3-11.4 107.2 3 11.8 6.9 22.4 12.3 34.4 2.1 4.7 9.5 20.1 11 23.3 10.3 22.7 15.4 43 16.7 78.7 3.3 94.6-82.7 181.9-182 181.9z" fill="currentColor")
						span(data-translate=`${fourth.text}`) #{fourth.text}

	canvas.grid-background#gridCanvas
